.divCorpoPrincipal {
	border: 2px solid #ddd;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 5px;
	padding: 5px 8px; 
	width : 500px;
	margin: 0 auto;
	width: 300px;
}

.divCriarPostagem {
	width: 100%;
	font-size: 3vw;
}

.textareaCriarMsg {
	margin-bottom: 20px;
	width: 90%;
	height: 10vw;
	min-height: 5px solid #068;
	padding: 10px;
	font-family: sans-serif;
	font-size: 1.8vw;
}

.selectCriarMsg {
	margin-bottom: 20px;
	width: 90%;
	height: 2vw;
	border: 5px solid #069;
	font-family: sans-serif;
	font-size: 1vw;
}